@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap";

@import "tailwindcss";

@plugin "daisyui" {
     themes: "lofi", "lofi-dark";
}

@theme {
  --animate-hehe: hehe .8s ease-in-out infinite;

  @keyframes hehe {
    50% {
      opacity: .1
    }
  }

  --font-sans: "Poppins", sans-serif;
  
  /* default custom values */
  --color-base-100: #000000;
  --color-base-200: #080808;
  --color-base-300: #101010;
  --color-base-content: #d6d6d6;
  --color-base-content-dim: #d6d6d630;

  --color-ok: #4caf50;
  --color-warning: #ff9800;
  --color-danger: #e53935;

  --color-f1color: #FF6A83;
  --color-f1color-15: #ff766a;
  --color-f1color-30: #ff9b6a;
  --color-f1color-dim: #EE86B880;

  --color-f2color: #B987F5;
  --color-f2color-15: #d486f5;
  --color-f2color-30: #f086f5;
  --color-f2color-dim: #B987F580;

  --color-f3color: #A6BFF7;
  --color-f3color-15: #a5aaf7;
  --color-f3color-30: #b5a5f7;
  --color-f3color-dim: #A6BFF780;
  
  --color-info: #5AA9FA;         
  --color-info-content: #192532; 
  --color-success: #4CCB83;      
  --color-success-content: #101f0d;
  --color-warning: #FACC57;       
  --color-warning-content: #332710;
  --color-error: #E4474B;         
  --color-error-content: #fceae8;
}

@plugin "daisyui/theme" {
  name: "lofi";
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #f0f2f5;
  --color-base-300: #e4e7eb;
  --color-base-content: #161616;
  --color-base-content-dim: #16161630;
  --color-primary: #ff5733ff;
  --color-primary-content: #ffffff;
  --color-secondary: #50514fff;
  --color-secondary-content: #f0f0f0;
  --color-accent: #ffe066ff;
  --color-accent-content: #3a3300;
  --color-neutral: #1C1B22;      
  --color-neutral-content: #d9dfe5;

  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.1875rem;
  --size-field: 0.1875rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "lofi-dark";
  default: true;
  color-scheme: "dark";
  --color-base-100: #000000;
  --color-base-200: #080808;
  --color-base-300: #101010;
  --color-base-content: #d6d6d6;
  --color-base-content-dim: #d6d6d630;
  --color-primary: #ff5733ff;
  --color-primary-content: #ffffff;
  --color-secondary: #50514fff;
  --color-secondary-content: #f0f0f0;
  --color-accent: #ffe066ff;
  --color-accent-content: #3a3300;
  --color-neutral: #1C1B22;      
  --color-neutral-content: #d9dfe5;

  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.1875rem;
  --size-field: 0.1875rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}
/* 
html {
  font-family: var(--font-sans);
} */

.custom-tooltip {
  padding: 0;
  margin: 0;
  background-color: var(--color-accent);
}

@keyframes pop {
  0% { transform: scale(1.5); }
  50% { transform: scale(1.5); }
  70% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes rainbow {
  0% { color: red; }
  34% { color: orange; }
  78% { color: yellow; }
  100% { color: red; }
}

.animate-pop-rainbow {
  display: inline-block;
  animation: pop 0.6s ease forwards, rainbow 1s linear infinite;
}

 /* Override multimonth year view backgrounds */
  .fc-multimonth {
      background-color: transparent !important;
      border: none !important;
  }

  .fc-multimonth-header {
      background-color: transparent !important;
  }

  .fc-multimonth-daygrid {
      background-color: transparent !important;
  }

  .fc-multimonth-month {
      background-color: transparent !important;
      border: none !important;
  }